#Data
indicators/food_insecurity/Data/FewsNetRaw/*
analyses/*/Data/WorldPop/*
analyses/*/Data/GlobalIPC
analyses/*/Data/GlobalIPCProcessed
IRI/
icpac/
nmme/
copernicus/
chirps/

#Local experiments
Experiments

# IDEs
.idea/*
.vscode/*

#Mac DSStore
.DS_Store

#Mac unzipping stuff
__MACOSX/

# Jupyter Notebook
.ipynb_checkpoints

# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# pycharm
.idea

# Byte-compiled / optimized / DLL files
__pycache__/

#nbautoexport
.nbautoexport
